

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.resizedTextbox {
    width: 80%;
    height: 600px;
    text-align: top;
}














